// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

// fonts variables
$rob: 'Roboto', sans-serif;


// screens

$maxMobile: "(max-width: 576px)";
$maxSmall: "(max-width: 767px)";
$minMedium: "(min-width: 768px)";
$maxMedium: "(max-width: 991px)";
$minLarge: "(min-width: 992px)";
$maxLarge: "(max-width: 1199px)";
$minXlarge: "(min-width: 1200px)";