footer {
    .info {
        padding: 70px 0;
        background-color: #5c5b5c;
        @media #{$maxSmall} {
            padding: 50px 10px;
        }
        .modfied-container {
            max-width: 1630px;
        .newsletter {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            h3 {
                font-family: $rob;
                font-size: 13px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
            }
            P {
                font-family: $rob;
                font-size: 13px;
                color: #ffffff;
                margin-bottom: 30px;
            }
            form {
                
                input[type='email'] {
                    width: 260px;
                    height: 53px;
                    padding: 15px 20px;
                    background: transparent;
                    color: #fff;
                    border-radius: 4px;
                    border: solid 1px #70b63e;
                    outline: none;
                    &::placeholder {
                        color: #fff;
                    }
                }
                input[type='submit'] {
                    width: 160px;
                    height: 53px;
                    padding: 10px;
                    border: none;
                    border-radius: 4px;
                    background-color: #70b63e;
                    color: #fff;
                    @media #{$maxSmall} {
                        width: 260px;
                        margin-top: 20px;
                    }
                }
            }
        }
        .get-app {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            h3 {
                font-family: $rob;
                font-size: 13px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
            }
            P {
                font-family: $rob;
                font-size: 13px;
                color: #ffffff;
                margin-bottom: 40px;
            }
            .get-images {
                img {
                    width: 170px;
                    height: 45px;
                    @media #{$maxSmall} {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .information {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            .media {
                i {
                    color: #70b63e;
                    align-self: center;
                    width: 15px;
                    height: 21px;
                    font-size: 24px;
                }
                .media-body {
                    margin-left: 20px;
                    h5 {
                        font-family: Arial;
                        font-size: 10px;
                        font-weight: bold;
                        
                        color: #70b63e;
                    }
                    p {
                        font-size: 13px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
        .pages {
            ul {
                line-height: 2;
                li {
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: Arial;
                        font-size: 13px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                }
            }
        }
        }
        
    }

    .copyright {
        padding: 20px 0 10px 0;
        background-color: #222122;
        font-family: Arial;
        font-size: 17px;
        color: #ffffff;
        .modfied-container {
            max-width: 1630px;
            ul {
                @media #{$maxSmall} {
                    margin-top: 20px;
                }
                li {
                    margin-right: 40px;
                    a {
                        color: #ffffff;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}