footer {
    .info {
        padding: 60px 0;
        background-color: #5c5b5c;
        @media #{$maxSmall} {
            padding: 50px 10px;
        }
        .newsletter {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            h3 {
                font-family: $rob;
                font-size: 11px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
            }
            P {
                font-family: $rob;
                font-size: 11px;
                color: #ffffff;
                margin-bottom: 30px;
            }
            form {
                
                input[type='email'] {
                    width: 221px;
                    height: 45px;
                    padding: 13px 17px;
                    background: transparent;
                    color: #fff;
                    border-radius: 4px;
                    border: solid 1px #70b63e;
                    outline: none;
                    &::placeholder {
                        color: #fff;
                    }
                    @media (min-width: 1200px) and (max-width: 1457px) {
                        width: 180px;
                    }
                }
                input[type='submit'] {
                    width: 136px;
                    height: 45px;
                    padding: 8.5px;
                    border: none;
                    border-radius: 3.5px;
                    background-color: #70b63e;
                    color: #fff;
                    @media #{$maxSmall} {
                        width: 221px;
                        margin-top: 20px;
                    }
                    @media (min-width: 1200px) and (max-width: 1457px) {
                        width: 115px;
                    }
                }
            }
        }
        .get-app {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            h3 {
                font-family: $rob;
                font-size: 11px;
                font-weight: bold;
                color: #ffffff;
                text-transform: uppercase;
            }
            P {
                font-family: $rob;
                font-size: 11px;
                color: #ffffff;
                margin-bottom: 40px;
            }
            .get-images {
                img {
                    width: 145px;
                    height: 38.5px;
                    @media #{$maxSmall} {
                        margin-bottom: 20px;
                    }
                    @media (min-width: 1200px) and (max-width: 1457px) {
                        width: 115px;
                    }
                }
            }
        }
        .information {
            @media #{$maxSmall} {
                margin-bottom: 30px;
            }
            .media {
                i {
                    color: #70b63e;
                    align-self: center;
                    width: 13px;
                    height: 18px;
                    font-size: 20.5px;
                }
                .media-body {
                    margin-left: 20px;
                    h5 {
                        font-family: Arial;
                        font-size: 8.8px;
                        font-weight: bold;
                        
                        color: #70b63e;
                    }
                    p {
                        font-size: 11px;
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
        .pages {
            ul {
                line-height: 2;
                li {
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: Arial;
                        font-size: 11px;
                        font-weight: bold;
                        color: #ffffff;
                    }
                }
            }
        }
        
    }

    .copyright {
        padding: 17px 0 8.5px 0;
        background-color: #222122;
        font-family: Arial;
        font-size: 15px;
        color: #ffffff;
            ul {
                @media #{$maxSmall} {
                    margin-top: 20px;
                }
                li {
                    margin-right: 40px;
                    &.last {
                        margin-right: 0;
                    }
                    a {
                        color: #ffffff;
                        opacity: 0.6;
                    }
                }
            }

    }
}