header {
    background-color: #FFF;
    padding: 25.5px 0;
        .upper-bar {
            ul {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0;
                li {
                    margin-right: 17px;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: Arial;
                        font-size: 13.5px;
                        font-weight: 600;
                        line-height: 1.31;
                        text-align: left;
                        color: #6c6b6c;
                        img {
                            position: relative;
                            top: -2px;
                        }
                    }
                    @media #{$maxMobile} {
                        margin-right: 5px;
                        a {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    
        nav {
            padding-top: 0;
            padding-bottom: 0;
            .navbar-brand {
                padding-top: 0;
                padding-bottom: 0;
                img:first-of-type {
                    position: relative;
                    top: 10px;
                }
                @media #{$maxMobile} {
                    img:last-of-type {
                        width: 200px;
                    }
                }
                @media (max-width: 374px) {
                    img:last-of-type {
                        width: 150px;
                    }
                }
            }
            @media #{$maxMobile} {
                .navbar-toggler  {
                    position: relative;
                    top: 5px;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        margin-right: 17px;
                        &.last {
                            margin-right: 0;
                        }
                        a {
                            text-transform: uppercase;
                            font-family: Arial;
                            font-size: 13.5px;
                            line-height: 1.25;
                            color: #268540 !important;
                            font-weight: 600;
                            img:not(.down-arrow) {
                                position: relative;
                                top: -3px;
                            }
                        }
                        
                    }
                }
            }
        }
}