/* Start Banner */

.banner {
    position: relative;
    /* Start Carousel */
.carousel {
    .carousel-indicators {
        justify-content: flex-end;
        margin-right: 5%;
        bottom: 100px;
        li {
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: #dedede;
            &.rounded {
                width: 40px;
                height: 11px;
                border-radius: 14px !important;
                background-color: #1ca470;
                opacity: 1;
            }
        }
    }

    .carousel-inner {
        
        .carousel-item {
            height: 750px;
            width:100%;
            background: url('../images/home/slider/1278.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: cover;
            .carousel-caption {
                top: 50%;
                transform: translateY(-50%);
                bottom: initial;
                -webkit-transform-style: preserve-3d;
                -moz-transform-style: preserve-3d;
                -ms-transform-style: preserve-3d;
                -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
                h1 {
                    font-family: $rob;
                    font-size: 52.5px;
                    font-weight: 500;
                    line-height: 1.23;
                    color: #fafafa;
                    margin-bottom: 0;
                }
                p {
                    opacity: 0.54;
                    font-family: Arial;
                    font-size: 23px;
                    line-height: 1.3;
                    color: #fafafa;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 13px 51px;
                    border-radius: 6px;
                    border: solid 1px #fafafa;
                    font-family: $rob;
                    font-size: 16px;
                    color: #fafafa;
                }
                @media #{$maxMedium} {
                    h1 {
                        font-size: 37px; 
                    }
                    p {
                        font-size: 16px;
                    }
                    a {
                        padding: 9px 36px;
                        border-radius: 3px;
                        font-size: 11px;
                    }
                }
                @media #{$minLarge} and #{$maxLarge} {
                    h1 {
                        font-size: 41.5px; 
                    }
                    p {
                        font-size: 18.5px;
                    }
                    a {
                        padding: 10.5px 41px;
                        border-radius: 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

/* End Carousel */

/* Start Form */
form {
    position: absolute;
    bottom: -6%;
    width: 100%;
    @media #{$maxLarge} {
        position: relative;
        bottom: 0;
        margin-top: 50px;
    }
    .container {
        
        padding-left: 0;
        padding-right: 0;
    }
    .form-row {
        @include prefixer( box-shadow, 0 4px 9px 0 rgba(0, 0, 0, 0.18), webkit moz o ms);
        background-color: #fafafa;
        .dropdown {
            width: 100%;
            display: flex;
            justify-content: space-between;
            &:after:not(.last) {
                content: '';
                height: 70%;
                width: 0.5px;
                background-color: #bcb8b8;
                align-self: center;
            }
            .dropdown-toggle {
                padding: 34px 17px 34px 42.5px;
                font-family: Arial;
                font-size: 14.5px;
                text-align: left;
                color: #bcb8b8;
                @media #{$maxLarge} {
                    padding-left: 20px;
                }
                &:after {
                    content: initial;
                }
            }
            img {
                text-align: right;
                @media #{$maxLarge} {
                    padding-right: 20px;
                }
            }
        }
        .button {
            background-color: #268540;
            padding-right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            button {
                    font-family: Arial;
                    font-size: 16px;
                    color: #d5d3d3;
                    border: none;
                    background: transparent;
                    text-transform: uppercase;
            }
            @media #{$maxLarge} {
                margin-left: 0;
                padding: 20px 0;
            }
        }
    }
}
/* End Form */

}

/* End Banner */

/* Start Select Section */
.select {
    padding: 85px 0;
    .select-heading {
        h2 {
            
            font-family: $rob;
            font-size: 45px;
            line-height: 1.43;
            text-transform: uppercase;
            color: #5c5b5c;
            @media #{$maxMedium} {
                font-size: 27px
            }
        }
        p {
            font-family: $rob;
            font-size: 24.5px;
            line-height: 1.41;
            text-transform: uppercase;
            color: #1ca470;
            margin-bottom: 0;
            @media #{$maxMedium} {
                font-size: 15px
            }
        }
        @media #{$minLarge} and #{$maxLarge} {
            h2 {
                font-size: 36px;
            }
            p{
                font-size: 19.5px;
            }
        }
    }

    .select-content {
        margin-top: 42.5px;
        
        .owl-carousel {
            .owl-item {
                .item {
                    @media #{$maxMedium} {
                        display: flex;
                        justify-content: center;
                    }
                    img {
                        width: 102px;
                        height: 102px;
                    }
                }
            }
            .owl-nav {
                display: flex;
            }
            .owl-prev,
            .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            &:hover {
                background: transparent;
            }
            }

            .owl-prev {
            left: -4rem;
            }

            .owl-next {
            right: -2rem;
            }
            @media #{$maxMedium} {
                .owl-prev,
                .owl-next {
                    display: none;
                }
            }
        }
    }
}
/* End Select Section */

/* Start Offers Section */
.offers {
    .offers-heading {
        background-color: #5c5b5c;
        .media {
            padding: 21px 0;
            .media-body {
                font-family: $rob;
                font-size: 14.5px;
                text-align: left;
                color: #a2a2a2;
                h5 {
                    font-family: $rob;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    color: #ffffff;
                }
            }
            @media #{$minLarge} and #{$maxLarge} {
                .media-body {
                    font-size: 11.5px;
                    h5 {
                        font-size: 14.5px;
                    }
                }
            }
        }
    }
    .offers-content {
        padding: 93.5px 0;
        @media #{$maxMedium} {
            padding: 55px 0;
        }
        .main-product {
            background-color: #fff;
            @media #{$maxMedium} {
                margin-bottom: 30px;
            }
            .row {
                margin-left: 0;
                justify-content: space-between;
                .img-container {
                    display: flex;
                    justify-content: flex-end;
                    padding-right: 0;
                    padding-top: 34px;
                    @media #{$maxMedium} {
                        img {
                            width: 100%;
                        }
                    }
                }
                .content {
                    align-self: flex-end;
                    padding-bottom: 68px;
                    padding-left: 51px;
                    @media #{$maxMedium} {
                        text-align: center;
                        padding-left: 0;
                        padding-top: 30px;
                    }
                    
                    h2 {
                        font-family: $rob;
                        font-size: 38.5px;
                        text-align: left;
                        color: #5c5b5c;
                        @media #{$maxMedium} {
                            font-size: 30px;
                            text-align: center
                        }
                    }
                    a {
                        display: inline-block;
                        padding: 6px 25.5px;
                        border-radius: 3px;
                        border: solid 0.6px #268540;
                        font-family: $rob;
                        font-size: 12px;
                        text-align: left;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #268540;
                        
                    }
                    @media #{$minLarge} and #{$maxLarge} {
                        padding-bottom: 54.5px;
                        padding-left: 41px; 
                        h2 {
                            font-size: 31px;
                        }
                        a {
                            padding: 5px 20.5px;
                            border-radius: 2.5px;
                        }
                    }
                }
            }
        }
        .other-products {
            margin-top: 8.5px;
            & > .row {
                margin-left: 0;
                margin-right: 0;
                @media #{$maxMedium} {
                    text-align: center;
                    margin-left: initial;
                    margin-right: initial;
                    & > div {
                        padding-left: 0;
                    }

                }
                @media (min-width: 576px) and (max-width: 991px) {
                    text-align: center;
                    margin-left: initial;
                    margin-right: initial;
                    & > div {
                        padding-left: 0;
                        flex: 0 0 49%;
                    }
                }
                .first {
                    padding-left: 0;
                }
                
                .row {
                    margin-left: 0;
                    justify-content: space-between;
                    background-color: #fff;
                    padding-top: 98px;
                    padding-bottom: 60px;
                    @media #{$maxMedium} {
                        margin-bottom: 30px;
                    }
                    .content {
                        align-self: flex-end;
                        
                        h3 {
                            font-family: $rob;
                            font-size: 38.5px;
                            text-align: left;
                            color: #5c5b5c;
                            @media #{$maxMedium} {
                                text-align: center;
                                font-size: 30px
                            }
                            @media #{$maxMedium} {
                                br {
                                    display: none;
                                }
                            }
                        }
                        a {
                            display: inline-block;
                            padding: 6px 15.5px;
                            border-radius: 3px;
                            border: solid 0.6px #268540;
                            font-family: $rob;
                            font-size: 11px;
                            text-align: left;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #268540;
                        }
                        @media #{$minLarge} and #{$maxLarge} {
                            h3 {
                                font-size: 31px;
                            }
                            a {
                                padding: 5px 12.5px;
                                border-radius: 2.5px;
                                font-size: 9px;
                            }
                        }
                    }
                    .img-container {
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 0;
                        img {
                            width: 100%;
                        }
                        
                    }
                    @media #{$minLarge} and #{$maxLarge} {
                        padding-top: 78.5px;
                        padding-bottom: 48px;      
                    }
                    
                }
                
            }
        }
        @media #{$minLarge} and #{$maxLarge} {
            padding: 75px 0;       
        }
    }
}
/* End Offers Section */

/* Start Featured Products */
.featured-products {
    
    position: relative;
    .featured-heading {
      h2 {
        font-family: $rob;
        font-size: 53px;
        font-weight: 500;
        text-transform: uppercase;
        color: #5c5b5c;
        @media #{$maxMedium} {
            font-size: 37px;
        }
        @media #{$minLarge} and #{$maxLarge} {
            font-size: 42.5px;       
        }
      }  
    }
    .tabs {
        ul {
            @media #{$maxMedium} {
                flex-direction: column;
                align-items: center;
            }
            li {
                a {
                    font-family: $rob;
                    font-size: 21px;
                    font-weight: normal;
                    color: #979797;
                    &.active {
                        color: #5c5b5c;
                        padding-bottom: 5px;
                        &:after {
                            content: '';
                            display: inline-block;
                            width: 100%;
                            height: 1px;
                            text-align: left;
                            background-color: #5c5c5c;
                        }
                    }

                }
                @media #{$minLarge} and #{$maxLarge} {
                    a {
                        font-size: 17px;
                    }       
                }
            }
        }
    }
    .featured-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 85px;
        margin-bottom: 85px;
        .overlay {
            position: absolute;
            left: 0;
            width: 27%;
            height: 560px;
            background-color: #268540;
            align-self: center;
            @media #{$minLarge} and #{$maxLarge} {
                height: 448px;       
            }
            @media (min-width: 992px) and (max-width: 1000px) {
                height: 560px;
            }
        }
        .carousel {
            .sub-container{ margin-right: -2.5%;}
            .owl-carousel {
                padding: 51px 0;
                .owl-prev,
                .owl-next {
                position: absolute;
                top: 75%;
                outline: none;
                width: 49px;
                height: 49px;
                border: solid 0.6px #ffffff;
                &:hover {
                    background: transparent;
                }
                }
    
                .owl-prev,
                .owl-next {
                left: -5rem;
                }
                .owl-prev {
                    top: 62%;
                }
                @media #{$maxMedium} {
                    .owl-prev,
                    .owl-next {
                        display: none;
                    }
                }
                .item {
                    padding: 15px 30px;
                    background-color: #FFF;
                    img {
                        display: inline-block;
                        width: initial;
                    }
                    .item-heading {
                        .rate {
                            display: inline-block;
                            text-align: center;
                            float: right;
                            width: 60px;
                            height: 27px;
                            line-height: 27px;
                            background-color: #ffd333;
                            font-family: Arial;
                            font-size: 15px;
                            color: #ffffff;
                            img {
                                position: relative;
                                top: -3px;
                                left: 3px;
                            }
                        }
                        .img-product {
                            width: 100%;
                        }
                    }
                    .item-content {
                        span {
                            font-family: Arial;
                            font-size: 11px;
                            color: #a2a2a2;
                        }
                        p{
                            font-family: Arial;
                            font-size: 15.5px;
                            color: #404040;
            
                        }
                        .price {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 15px;
                            padding-top: 15px;
                            border-top: 1px solid rgba(0, 0, 0, 0.2);
                            .new-price {
                                font-family: Arial;
                                font-size: 21.5px;
                                font-weight: 700;
                                color: #404040;
                            }
                            img {
                                width: 28px;
                                height: 24px;
                                position: relative;
                                top: 5px;
                            }
                        }
                        @media #{$minLarge} and #{$maxLarge} {
                            span {
                                font-size: 9px;
                            }
                            p {
                                font-size: 12.5px;
                            }
                            .new-price {
                                font-size: 17.5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* End Featured Products */

/* Start Deal Zone Section */
.deal-zone {
    .deal-heading {
        h2 {
            font-family: $rob;
            font-size: 45px;
            text-align: center;
            color: #5c5b5c;
            @media #{$maxMedium} {
                font-size: 30px;
            }
            span {
                color: #c62b35;
            }
        }
        p {
            font-family: $rob;
            font-size: 28px;
            text-align: center;
            color: #268540;
            margin-bottom: 34px;
            @media #{$maxMedium} {
                font-size: 14px;
            }
        }
        @media #{$minLarge} and #{$maxLarge} {
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 22.5px;
            }
        }
    }

    .deal-content {
        background-color: #268540;
        .owl-carousel {
            padding: 60px 0;
            .owl-prev,
            .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            width: 49px;
            height: 49px;
            border: solid 0.6px #ffffff;
            &:hover {
                background: transparent;
            }
            }

            .owl-prev {
            left: -6rem;
            }

            .owl-next {
            right: -6rem;
            }
            @media #{$maxMedium} {
                .owl-prev,
                .owl-next {
                    display: none;
                }
            }
            .item {
                padding: 15px 25.5px;
                background-color: #FFF;
                img {
                    display: inline-block;
                    width: initial;
                }
                .item-heading {
                    .rate {
                        display: inline-block;
                        text-align: center;
                        float: right;
                        width: 60px;
                        height: 27px;
                        line-height: 27px;
                        background-color: #ffd333;
                        font-family: Arial;
                        font-size: 15px;
                        color: #ffffff;
                        img {
                            position: relative;
                            top: -3px;
                            left: 3px;
                        }
                    }
                    .img-product {
                        width: 100%;
                    }
                }
                .item-content {
                    span {
                        font-family: Arial;
                        font-size: 11px;
                        color: #a2a2a2;
                    }
                    p{
                        font-family: Arial;
                        font-size: 15.5px;
                        color: #404040;
        
                    }
                    .price {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 15px;
                        .last-price {
                            opacity: 0.59;
                            font-family: Arial;
                            font-size: 14.5px;
                            color: #a2a2a2;
                            position: relative;
                            align-self: center;
                            &:after {
                                content: '';
                                position: absolute;
                                top: 10px;
                                right: 0;
                                width: 100%;
                                height: 1px;
                                background-color: #fa0808;
                                transform: rotate(350deg);
                            }
                        }
                        .new-price {
                            font-family: Arial;
                            font-size: 21.5px;
                            font-weight: 700;
                            color: #404040;
                        }
                        img {
                            width: 24px;
                            height: 20.5px;
                            position: relative;
                            top: 5px;
                        }
                    }
                    @media #{$minLarge} and #{$maxLarge} {
                        span {
                            font-size: 9px;
                        }
                        p {
                            font-size: 12.5px;
                        }
                        .last-price {
                            font-size: 11.5px;
                        }
                        .new-price {
                            font-size: 17.5px;
                        }
                        img {
                            width: 19.5px;
                            height: 16.5px;
                        }
                    }
                }
                .item-footer {
                    padding-top: 15px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    ul {
                        li {
                            padding: 10px 20px;
                            background-color: #fafafa;
                            width: 24px;
                            font-family: Arial;
                            font-size: 9px;
                            text-transform: uppercase;
                            color: #404040;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            .number {
                                font-weight: 700;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End Deal Zone Section */

/* Start New Arrivals */
.new-arrivals {
    padding: 51px 0;
    .arrivals-heading {
        h2 {
            font-family: $rob;
            font-size: 45px;
            color: #5c5b5c;
            margin-bottom: 42.5px;
            @media #{$maxMedium} {
                font-size: 30px;
            }
            @media #{$minLarge} and #{$maxLarge} {
                font-size: 36px;
            }
        }
    }

    & > .container > .main > .row > div {
        padding-left: 8px;
        padding-right: 8px;
    }

    .item {
        padding: 15px 16px;
        background-color: #FFF;
        position: relative;
        overflow: hidden;
        @media #{$maxMedium} {
            margin-bottom: 30px;
        }
        &:after,
        &:before {
            content: '';
            display: block;
            width: 0;
            border-width: 0 30px 30px 0;
            border-style: solid;
            border-color: transparent #ff3333;
            position: absolute;
            top: 0;
            right: 0;
        }
        img {
            display: inline-block;
            width: initial;
        }
        .item-heading {
            .img-product {
                width: 100%;
            }
        }
        .item-content {
            span {
                font-family: Arial;
                font-size: 10.5px;
                color: #a2a2a2;
            }
            p{
                font-family: Arial;
                font-size: 14.5px;
                color: #404040;

            }
            .price {
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                padding-bottom: 15px;
                border-top: 1px solid rgba(0, 0, 0, 0.2);
                .new-price {
                    font-family: Arial;
                    font-size: 19.5px;
                    font-weight: 700;
                    color: #404040;
                }
                img {
                    width: 24px;
                    height: 20.5px;
                    position: relative;
                    top: 5px;
                }
            }
            @media #{$minLarge} and #{$maxLarge} {
                span {
                    font-size: 9px;
                }
                p {
                    font-size: 12.5px;
                }
                .last-price {
                    font-size: 11.5px;
                }
                .new-price {
                    font-size: 17.5px;
                }
                img {
                    width: 19.5px;
                    height: 16.5px;
                }
            }
        }
    }
    .sub {
        margin-top: 60px;
        & > .row > div {
            padding-left: 5px;
            padding-right: 5px;
        }
        .item {
            padding: 5px 15px 5px 5px;
            margin-bottom: 20px;
            background-color: #FFF;
            position: relative;
            overflow: hidden;
            &:after,
            &:before {
                content: '';
                display: block;
                width: 0;
                border-width: 0 30px 30px 0;
                border-style: solid;
                border-color: transparent #ff3333;
                position: absolute;
                top: 0;
                right: 0;
            }
            .media-body {
                span {
                    font-family: Arial;
                    font-size: 8px;
                    color: #a2a2a2;
                }
                p{
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: 600;
                    color: #404040;
    
                }
                .price {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: 1px solid rgba(0, 0, 0, 0.2);
                    .new-price {
                        font-family: Arial;
                        font-size: 14px;
                        font-weight: 700;
                        color: #404040;
                    }
                    img {
                        width: 20px;
                        height: 18px;
                        position: relative;
                        top: 0px;
                    }
                }
                @media #{$minLarge} and #{$maxLarge} {
                    span {
                        font-size: 6.5px;
                    }
                    p {
                        font-size: 9.5px;
                    }
                    .new-price {
                        font-size: 11.5px;
                    }
                    img {
                        width: 14px;
                        height: 12.5px;
                        top: 0px;
                    }
                }
            }
        }
    }
}
/* End New Arrivals */